<!DOCTYPE html>
<html>
    <head>
        <!-- заголовки -->
        <%- include('./partials/head', {description: 'описание', keywords: 'ключивые, слова', title: 'название'}) %>
    </head>
    <body>
        <header>
            <!-- верхняя панель -->
            <%- include('./partials/head-panel') %>
        </header>
        <main></main>
        <footer>
            <!-- нижняя панель -->
            <%- include('./partials/footer.ejs') %>
        </footer>
    </body>
</html>
