<!DOCTYPE html>
<html>
    <head>
        <!-- заголовки -->
        <%- include('./partials/head') %>
    </head>
    <body>
        <header>
            <!-- верхняя панель -->
            <%- include('./partials/head-panel') %>
        </header>
        <main class="err">
            <h1>This page doesn't seem to exist.</h1>
            <h2>It looks like the link pointing here was faulty. Maybe try searching?</h2>
        </main>
        <footer>
            <!-- нижняя панель -->
            <%- include('./partials/footer.ejs') %>
        </footer>
    </body>
</html>
